<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>




<title>Oguz Bayral Website</title>

</head>

<body>

<div class="jumbotron">
  <h1>Oguz Bayral</h1>
  <p>Hello World!</p>  
</div>

      <nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-light" style="background-color: #0275D8;">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/canada">Canada</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/china">China</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/icbc">ICBC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bilkent">Bilkent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Me</a>
                </li>
              </ul>
            </div>
          </nav>
          
          
          <div class="container">
            <br>  
            <p>Hello there!<br>
                <br>
                My name is Oguz Bayral and I was born in Izmir/Turkey in 1993. I went to Buca Anatolian High School
                and graduated in 2007. I have graduated from Electrical and Electronics Engineering department from Bilkent University in June 2016.<br>
                
                <br>
                While I was studying in Bilkent, I have involved in various projects. In June 2013, I went to Kiev, capital of Ukraine, via a global 
                social responsibility program which is called AIESEC. In there, In there, I have taught English language to Ukrainian kids, whose ages were varying between 5-13.
                I consider it as an unique experience due to I have been provided to team up and collaborate with people from different nationalities, backgrounds and cultures. 
                At the end of the day, it was full of fun, and gave me lots of friends across the world.<br>
                <br>
                
                A year later, I had the chance of internship in Rome, Italy. It was my first semi-professional experience and therefore it was unforgettable. Also it was a World Cup'14
                and Italy was formidable at that time :)  I worked as an Engineering Intern in a energy-infrastructure firm which is a subsidiary of a global humungous aerospace and defense company. <br> 
                
                <br>
                After my graduation, I commenced my career as a Management Trainee in ICBC(Turkey) Bank in October 2016. 
                From October to November, 2016 I had been trained in this program in order to be acquainted with the units in a bank and to be introduced with the global banking system. 
                After successfully completing this program I began to my duty in Information Technologies Department and I was responsible for developing projects for the Web Branch, Call Center Module and Fraud Module. 
                Furthermore, I developed work flow projects for Board of Auditors and Internal Audit Departments. 
                <br>
                <br>

                <br>
                In September 2017, I was sent to China in order to learn an internal software program and assist to a project between Turkey and China. It was an incredible experience and way beyond
                my expectations. I definitely had my most dramatic cultural shock in my period of three-months :) I have been in Guangzhou, Shanghai and Shenzhen which are the largest financial centers and crowded cities.
                I'll be explaining more about China in the related page!
                <br>
                <br>
                
                
                




                </p>
        </div>
          
         


  

<div class="copyright" style="text-align: center">Oguz Bayral</div>

</body>
</html>
