<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>





<title>Oguz Bayral Website</title>

</head>

<body>

<div class="jumbotron">
  <h1>Oguz Bayral</h1>
  <p>Hello World!</p>  
</div>

<nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-light" style="background-color: #0275D8;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/canada">Canada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/china">China</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/icbc">ICBC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bilkent">Bilkent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
          
          
          <div class="container">
            <br>  
               <br>
               In the June of 2013, I went to Kiev, I went to Kiev, Ukraine as a volunteer Member of AIESEC. In there, I have taught English language to Ukrainian kids, whose ages were varying between 5-13. 
               It was one of the most unique experiences that I have had in my life since it was my first time abroad and I have had many friends from all over the world. I still keep my connection with my friends and I even had the chance of
               hosting them in Istanbul. Therefore, it was full of fun and joyful memory and I strongly recommend to all university students to take a part in these types of social responsibility programs.
                <br>
                <br>
                <figure class="figure">
                    <img src="/assets/kiev.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Supporting Dinamo Kyiv!</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/students.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Me with my students :)</figcaption>
                  </figure>
</body>
</html>
