<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>





<title>Oguz Bayral Website</title>

</head>

<body>

<div class="jumbotron">
  <h1>Oguz Bayral</h1>
  <p>Hello World!</p>  
</div>

<nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-light" style="background-color: #0275D8;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/canada">Canada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/china">China</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/icbc">ICBC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bilkent">Bilkent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
          
          
    <div class="container">
          <br>  
          <br>
          In September 2011, I have begun to my Bilkent journey which lasted 5 years. The years that I have spent and the experiences that I have 
          gained contributed to me enormously both in professional and personal regards. I have had many lifetime friends and unforgettable memories.
          Even though being a student (especially in Electrical and Electronics Engineering) was a big challenge, I am grateful and delightful of being a graduate of Bilkent EEE.
          Here are some photos from Bilkent.
          <br>
          <br>
          <figure class="figure">
                <img src="/assets/bilkent1.jpg" class="figure-img img-fluid rounded" >
                <figcaption class="figure-caption" style="text-align: center">Rainy Day in Bilkent</figcaption>
              </figure>

            <figure class="figure">
              <img src="/assets/bilkent3.jpg" class="figure-img img-fluid rounded" >
              <figcaption class="figure-caption" style="text-align: center">Flowers Bloom</figcaption>
            </figure>
            <figure class="figure">
                <img src="/assets/bilkent4.jpg" class="figure-img img-fluid rounded" >
                <figcaption class="figure-caption" style="text-align: center">Embracing the Spring in Bilkent</figcaption>
              </figure>
              <figure class="figure">
                  <img src="/assets/bilkent5.jpg" class="figure-img img-fluid rounded" >
                  <figcaption class="figure-caption" style="text-align: center">Sunny Day in Bilkent</figcaption>
                </figure>
              <figure class="figure">
                <img src="/assets/bilkent2.jpg" class="figure-img img-fluid rounded" >
                <figcaption class="figure-caption" style="text-align: center">Bilkent under snow</figcaption>
              </figure>
              <figure class="figure">
                  <img src="/assets/mezun.jpg" class="figure-img img-fluid rounded" >
                  <figcaption class="figure-caption" style="text-align: center">My graduation, The Happy End :) </figcaption>
                </figure>
      </div>
  </body>
</html>
