<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>





<title>Oguz Bayral Website</title>

</head>

<body>

<div class="jumbotron">
  <h1>Oguz Bayral</h1>
  <p>Hello World!</p>  
</div>

<nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-light" style="background-color: #0275D8;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/canada">Canada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/china">China</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/icbc">ICBC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bilkent">Bilkent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
          
          
          <div class="container">
            <br>  
               <br>
                I have had the chance of visiting and working in China in September to December '18'. With it's nature,
                culture, architecture and foods it was totally a unique experience. Here are 
                some photos from my objective about my China experience. <br>
                <br>
                <figure class="figure">
                    <img src="/assets/guangzhou.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Gaungzhou night view </figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/monastery.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Entrance of a Buddhist Monastery</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/flowers.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Flowers in Monastery</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/shanghai.png" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Shanghai night view</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/shanghai_view.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Shanghai skycrapers</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/fish.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Fishes in Window of the World</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/border.jpg" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">The border between Shenzhen and Hong Kong</figcaption>
                  </figure>
                  <figure class="figure">
                    <img src="/assets/shenzhen.JPG" class="figure-img img-fluid rounded" >
                    <figcaption class="figure-caption" style="text-align: center">Shenzhen skyscrapers</figcaption>
                  </figure>
          


</body>
</html>
