<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<title>Oguz Bayral Website</title>

</head>

<body>

<div class="jumbotron">
  <h1>Oguz Bayral</h1>
  <p>Hello World!</p>  
</div>

      <nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-light" style="background-color: #0275D8;">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/canada">Canada</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/china">China</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/icbc">ICBC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bilkent">Bilkent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Me</a>
                </li>
              </ul>
            </div>
          </nav>
          
          
<div class="container">
        
<br>
   <h2>Thanks for contacting, <%=data.name%> ! </h2>
   <p>I will be responding to your message soon :)</p>  
   
<br><br>

<div style="display: flex; justify-content: center;">
    <img src="/assets/checked.png"/>
  </div>

  <div class="footer">

        <table class="table">
                <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                
                                        <a href="#"> <img src="/assets/linkedin.png"/> </a>
                                
                            </div>
                            <div class="col-sm-4">
                                
                                        <a href="#"> <img src="/assets/overflowing.png"/> </a>
                                
                            </div>
                            <div class="col-sm-4">
                                
                                        <a href="#"> <img src="/assets/github-logo.png"/> </a>
                                
                            </div>
                        </div>
                        </div>
              </table>
    </div>
  
</div>
          


</body>
</html>



