<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>





<title>Oguz Bayral Website</title>

</head>

<body>

<div class="jumbotron">
  <h1>Oguz Bayral</h1>
  <p>Hello World!</p>  
</div>

<nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar navbar-light" style="background-color: #0275D8;">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/canada">Canada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/china">China</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/icbc">ICBC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bilkent">Bilkent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>
          
          
    <div class="container">
          <br>  
          <br>
          In June 2014, I have had an engineering internship at Page Europa S.R.L which is a sub company of General Dynamics. 
          Briefly, Page Europa mainly focuses on revealing creative and innovative solutions about telecommunications, military defense, control, security systems and deployable systems. 
          Page Europa mainly headquartered at Rome, Italy.  In there, I have worked with competent engineers on UHF Tetra Radio, 
          Vehicle Tracking Project and we were required to examine and conduct a research on signal propagation rates of UHF Tetra Radio Bases.
          Besides, my internships at Italy and Turkey provided me a chance to observe different business environments and internalize these cultures within myself.
          Here are some photos from my Italy memories.
          <br>
          <br>
          <figure class="figure">
                <img src="/assets/vitorio.jpg" class="figure-img img-fluid rounded" >
                <figcaption class="figure-caption" style="text-align: center">Vittoria Emmanuelle</figcaption>
              </figure>

            <figure class="figure">
              <img src="/assets/piazza.jpg" class="figure-img img-fluid rounded" >
              <figcaption class="figure-caption" style="text-align: center">Piazza Venezia</figcaption>
            </figure>
            <figure class="figure">
                <img src="/assets/vaticano.jpg" class="figure-img img-fluid rounded" >
                <figcaption class="figure-caption" style="text-align: center">Vaticano</figcaption>
              </figure>
              <figure class="figure">
                  <img src="/assets/colosseum.jpg" class="figure-img img-fluid rounded" >
                  <figcaption class="figure-caption" style="text-align: center">Colosseum-Rome</figcaption>
                </figure>
              <figure class="figure">
                <img src="/assets/venice.jpg" class="figure-img img-fluid rounded" >
                <figcaption class="figure-caption" style="text-align: center">Venice</figcaption>
              </figure>
              <figure class="figure">
                  <img src="/assets/milano.jpg" class="figure-img img-fluid rounded" >
                  <figcaption class="figure-caption" style="text-align: center">Duomo di Milano</figcaption>
                </figure>
      </div>
  </body>
</html>
